/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.heroBanner :global(.button) {
  background: var(--oro-color-cream);
  color: var(--oro-color-void);
  border: 1px solid var(--oro-color-cream);
  border-radius: 6px;
  font-weight: bold;
}

.heroBanner :global(.button:hover) {
  background: var(--oro-color-white);
  border-color: var(--oro-color-white);
  color: var(--oro-color-void);
}
